body{background-color:rgb(221, 187, 123);}
.menu{background-color:rgb(199, 117, 59);
      height: 5%;}
a{text-decoration: none;
  color: black;
  padding: 10px;
  width: 50px}



li{margin-left: 20px;
   margin-right: 20px;
   padding-top: 10px;
   margin-top: 10px;
   display: inline-block;}

.menuelem:hover{background-color: rgb(92, 64, 51);
        border-radius: 10px;
        color: white;
        animation-name: animation;
        animation-duration: 0.7s;}
#selected{background-color: rgb(92, 64, 51);
        border-radius: 10px;
        color: white;
        padding: 10px;}

@keyframes animation {
  0%   {background-color: rgb(199, 117, 59);}
  100% {background-color: rgb(92, 64, 51);}
}
.icon{width: 4%;
        margin-right: 10px;
        margin-bottom: 5px;}
.rolunk{margin-top: 5%}
.asztalfoglalas{margin-top: 5%}
h1{text-align: center;}
.card{width: 30%;
      margin-left: 10px;}
p{width: 90%;
  text-align: justify;}
img{padding-top: 10px;
      padding-bottom: 10px;}

footer{background-color: rgb(92, 64, 51);
       min-height: 300px;
       width: 100%;}

#lablec{width: 90%;
        text-align: center;
        color: rgb(221, 187, 123)}
#lablec p{ margin-left: 35%;}
#lablec h2{ text-align: center;}

.fa{ color:rgb(221, 187, 123) ;}
#nyitvatartas{line-height: 85%;}
.bottom{width: 90%;
        text-align: center;
        color: rgb(221, 187, 123)}

.contact{margin: auto;
         color: rgb(221, 187, 123);}

#fagyi{ margin-left: auto;
        margin-right: auto;
       width: 550px;
        height: 590px;}

td{text-align: center;
        font-size: larger;
        font-weight: bold;}

.fagyifoto{ display: block;
        margin-left: auto;
        margin-right: auto;
        width: 330px;
        height: 350px;}

.fagy{font-size: 30px;;
        margin-left: 70px;}
        
h3{margin-left: 70px;
        font-size: 40px;}

.leiras li{font-size:large;
        list-style-type: circle;
        color: bisque;}
.row{margin-bottom:35px; ;}
.fay{font-size: 240%;
        text-align: center;}
.content{background-image:url(../img/free-bake-sale-pattern-2.jpg);}
.card{background-color: rgb(92, 64, 51);}
